@model RealEstateWebApp.Models.Property

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumBeds" class="control-label"></label>
                <input asp-for="NumBeds" class="form-control" />
                <span asp-validation-for="NumBeds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumBaths" class="control-label"></label>
                <input asp-for="NumBaths" class="form-control" />
                <span asp-validation-for="NumBaths" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsStudio" /> @Html.DisplayNameFor(model => model.IsStudio)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Sqft" class="control-label"></label>
                <input asp-for="Sqft" class="form-control" />
                <span asp-validation-for="Sqft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeType" class="control-label"></label>
                <input asp-for="HomeType" class="form-control" />
                <span asp-validation-for="HomeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumParkingSpots" class="control-label"></label>
                <input asp-for="NumParkingSpots" class="form-control" />
                <span asp-validation-for="NumParkingSpots" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumGarageSpots" class="control-label"></label>
                <input asp-for="NumGarageSpots" class="form-control" />
                <span asp-validation-for="NumGarageSpots" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AttachedGarage" /> @Html.DisplayNameFor(model => model.AttachedGarage)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="LotSize" class="control-label"></label>
                <input asp-for="LotSize" class="form-control" />
                <span asp-validation-for="LotSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearBuilt" class="control-label"></label>
                <input asp-for="YearBuilt" class="form-control" />
                <span asp-validation-for="YearBuilt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LatestRenovationDate" class="control-label"></label>
                <input asp-for="LatestRenovationDate" class="form-control" />
                <span asp-validation-for="LatestRenovationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LatestRenovationDescription" class="control-label"></label>
                <input asp-for="LatestRenovationDescription" class="form-control" />
                <span asp-validation-for="LatestRenovationDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Heating" class="control-label"></label>
                <input asp-for="Heating" class="form-control" />
                <span asp-validation-for="Heating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooling" class="control-label"></label>
                <input asp-for="Cooling" class="form-control" />
                <span asp-validation-for="Cooling" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flooring" class="control-label"></label>
                <input asp-for="Flooring" class="form-control" />
                <span asp-validation-for="Flooring" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumStories" class="control-label"></label>
                <input asp-for="NumStories" class="form-control" />
                <span asp-validation-for="NumStories" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasBasement" /> @Html.DisplayNameFor(model => model.HasBasement)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Gas" class="control-label"></label>
                <input asp-for="Gas" class="form-control" />
                <span asp-validation-for="Gas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Electric" class="control-label"></label>
                <input asp-for="Electric" class="form-control" />
                <span asp-validation-for="Electric" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sewer" class="control-label"></label>
                <input asp-for="Sewer" class="form-control" />
                <span asp-validation-for="Sewer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Internet" class="control-label"></label>
                <input asp-for="Internet" class="form-control" />
                <span asp-validation-for="Internet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TV" class="control-label"></label>
                <input asp-for="TV" class="form-control" />
                <span asp-validation-for="TV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherDetails" class="control-label"></label>
                <input asp-for="OtherDetails" class="form-control" />
                <span asp-validation-for="OtherDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
